body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.MuiOutlinedInput-root{
  border-radius: 10px !important;
}
a{
  color:#0096C5 !important;
  font-weight: bold ;

}
button{
  text-transform: none;
}
@tailwind base;
@tailwind components;
@tailwind utilities;
